

.login {
	-fx-background-image:url('/images/librarybackground-01.png');
}

#login {
	-fx-background-image:url('C:\Users\User\eclipse-workspace\LibraryManagementSystem\src\main\resources\images\librarybackground-01.pngg');
}

#home {
	-fx-background-image:url('C:\Users\User\eclipse-workspace\LibraryManagementSystem\src\main\resources\images\librarybackground-01.pngg');
}
